<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="{{url_for('static',filename='stylesheets/signup-style.css')}}">
</head>
<body>
    <div class="login-box">
        <h2>Sign Up</h2>
        <form action="/signup" method="post" enctype="multipart/form-data">
          <div class="user-box">
            <input type="text" name="username" id="username" required="">
            <label>Username</label>
          </div>
          <div class="user-box">
            <input type="password" name="password" required="">
            <label>Password</label>
          </div>
          <div class="user-box">
            <label class="lbl">Fingerprint</label>
            <input type="file" name="fingerprint" required="" class="box1">   
          </div>
          <div class="user-box">
            <label class="lbl">Signature</label>
            <input type="file" name="signature" required="" class="box1">
          </div>

          
            <button name="submit" class="custom-btn btn-11 btnxxx">
                Submit
            </button>
          
        

          <!-- <a class="custom-btn btn-11" href="{{url_for('login')}}">
            Login
          </a> -->

          <a href="{{url_for('login')}}">
            <button name="submit" class="custom-btn btn-11">
                Login
            </button>
          </a>
        </form>
      </div>
</body>
</html>